<!-- About Me -->
  section(class= (page === 'home') ? 'about padded home' : 'about padded')
    .container.padded
      img(src='/images/content/portrait.jpg', alt='Dayton Johnson')
      .padded
        h2 Who Am I?
        h1 Web Developer
        p Hello, I'm a web developer based in Eau Claire, Wisconsin. I'm passionate in coding and creating useful web-based software. I love learning new technologies and am focused on becoming a master of the web platform.

        if page === 'about'
          .skills
            div
              p
                strong Strong Skills:
              ul.bulleted
                li HTML/CSS
                li JavaScript (Frontend)
                li PHP
            div
              p
                strong Growing Skills:
              ul.bulleted
                li JavaScript (Backend)
                li Node.js
                li Linux Server Administration

        else
          a(href='/about/')
            button(type='button') More