<!-- About Me -->
  section(class= (page === 'home') ? 'about padded home' : 'about padded')
    div.container
      img(src='/images/content/portrait.jpg', alt='Dayton Johnson')
      div.padded
        h2 Who Am I?
        h1 Web Developer
        p Hello, I'm a web developer, designer, and freelancer based in Eau Claire, Wisconsin. I'm passionate about coding and creating useful web-based products. I love learning new technologies and am focused on becoming a master of the web platform.
        a(href='/about/')
          button(type='button') More