// Case Studies
section#case-studies.case-studies.padded
  h3 Case Studies
  ul.case-studies.container.padded
    li#your-family-realty
      .image-wrapper
        img(src='/images/content/yourfamilyrealty.jpg', alt='Your Family Realty Project')
      .wrapper
        h1 Your Family Realty
        h2 Technologies Used
        ul.bulleted
          li HTML5
          li CSS3
          li Responsive Design
          li SVG
        .buttons
          a(href='http://www.yourfamilyrealty.com', target='_blank')
            button(type='button') View Live
    li#weather
      .image-wrapper
        img(src='/images/content/project-weather.png', alt='Weather Project')
      .wrapper
        h1 Animated Weather Icons
        h2 Technologies Used
        ul.bulleted
          li CSS3 Animations (Keyframes/Transitions)
          li CSS Psuedo Elements
          li jQuery
        .buttons
          a(href='https://idifyable.github.io/CSS3-Weather-Animations/', target='_blank')
            button(type='button') View Live
          a(href='https://github.com/idifyable/CSS3-Weather-Animations', target='_blank')
            button(type='button') View Repo
    li#quotes.case-study
      .image-wrapper
        img(src='/images/content/project-quote.png', alt='Quote Machine Project')
      .wrapper
        h1 Quote-O-Matic
        h2 Technologies Used
        ul.bulleted
          li jQuery
          li AJAX
          li Wordpress REST API
          li Twitter Button
        .buttons
          a(href='https://idifyable.github.io/Quote-O-Matic/', target='_blank')
            button(type='button') View Live
          a(href='https://github.com/idifyable/Quote-O-Matic', target='_blank')
            button(type='button') View Repo
    li#wikipedia.case-study
      .image-wrapper
        img(src='/images/content/project-wikipedia.png', alt='Wikipedia Search Page Project')
      .wrapper
        h1 Wikipedia Search Page
        h2 Technologies Used
        ul.bulleted
          li jQuery
          li Wikimedia API
          li AJAX
        .buttons
          a(href='https://idifyable.github.io/Wikipedia-Search/', target='_blank')
            button(type='button') View Live
          a(href='https://github.com/idifyable/Wikipedia-Search', target='_blank')
            button(type='button') View Repo
