// My Projects
section.projects.padded
  .container.padded
    h3 My Projects
    ul.my-projects
      li
        a(href='/about/#your-family-realty')
          img(src='/images/content/yourfamilyrealty.jpg', alt='Your Family Realty')
          p Your Family Realty
      li
        a(href='/about/#weather')
          img(src='/images/content/project-weather.png', alt='Weather Project')
          p Animated Weather Icons
      li
        a(href='/about/#quotes')
          img(src='/images/content/project-quote.png', alt='Quote Machine Project')
          p Design Quote Machine
      li
        a(href='/about/#wikipedia')
          img(src='/images/content/project-wikipedia.png', alt='Wikipedia Page Project')
          p Wikipedia Search Page
