/*
*
*
*
*   GLOBAL
*       TYPOGRAPHY
*       ELEMENTS
*       HEADER
*       ABOUT
*       FOOTER
*       ANIMATIONS
*       MEDIA QUERIES
*
*   HOME PAGE
*       HERO HEADER
*       PROJECTS
*       LINKS
*
*   ABOUT PAGE
*       HOME BUTTON
*       CASE STUDIES
*
*/


/*==============================> GLOBAL <==============================*/



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    line-height: 2rem;
    font-family: 'Open Sans', sans-serif;
    background: -webkit-linear-gradient(black, #0B5FC3, #2970C6, #4E88CD);
    background: linear-gradient(black, #0B5FC3, #2970C6, #4E88CD);
}


/*==========> TYPOGRAPHY <==========*/

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    line-height: 4rem;
}

h3 {
    color: white;
    opacity: .7;
    text-align: center;
    text-shadow: 0px 0px 5px black;
}

p {
    margin: 25px 0;
}


/*==========> ELEMENTS <==========*/

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

button {
    position: relative;
    margin-top: 30px;
    padding: 10px;
    font-size: 1.4em;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 5px 10px grey;
    background-color: #F20034;
}

.wrapper {
    max-width: 1200px;
    margin: 100px auto;
}


/*==========> HEADER <==========*/

header {
    margin: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
}

nav {
    margin: 0 1vw;
    text-shadow: 0px 0px 5px black;
}

    nav ul {
        margin: 1vw 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row nowrap;
        flex-flow: row wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        align-content: center;
    }

        nav ul li {
            margin-left: 1vw;
            padding: 10px;
            opacity: .75;
            list-style: none;
            -webkit-transition: opacity .5s, text-shadow .5s;
            transition: opacity .5s, text-shadow .5s;
            border-radius: 25%;
            border-bottom: 2.5px solid #4E88CD;
        }

        nav ul li:hover {
            opacity: 1;
            text-shadow: 0px 0px 10px grey;
        }

            nav ul li a {
                color: white;
                text-decoration: none;
            }


/*==========> ABOUT <==========*/

#about {
    margin-top: 150px;
    margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    background-color: white;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

    #about img {
        position: relative;
        margin: 0 auto;
        max-width: 350px;
        bottom: 70px;
        border: 15px solid white;
        box-shadow: 0px 20px 30px grey;
    }

    #about-text {
        margin: 25px 10px;
        max-width: 400px;
    }

    #about button {
        margin: 35px 15px;
    }

#about-after {
    margin-top: 0px;
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: lightslategray;
}


/*==========> FOOTER <==========*/

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap-reverse;
    flex-flow: row wrap-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 5vw;
}

    footer div {
        text-align: center;
    }

    footer nav ul li {
        border-top: 2.5px solid #053670;
        border-bottom: none;
    }


/*==========> ANIMATIONS <==========*/

@keyframes neon {
    0%, 20% {
        text-shadow: none;
        color: white;
    }
    50% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
        color: #fff;
    }
    80%, 100% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
        color: #228DFF;
    }
}


/*==========> MEDIA QUERIES <==========*/

@media only screen and (max-width: 500px) {
    .wrapper {
        width: 100vw;
    }
    #hero-image h1 {
        font-size: 3em;
        line-height: 1em;
        animation: none;
        text-shadow: none;
        color: white;
    }
    #hero-image h2 {
        font-size: 2em;
        line-height: 1em;
        animation: none;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
        color: #228DFF;
    }
    img {
        width: 100%;
    }
}




/*==============================> HOME PAGE <==============================*/




/*==========> HERO HEADER <==========*/

#hero-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    color: white;
    text-align: center;
}

    #hero-image h1 {
        margin: 45px;
        font-family: 'Permanent Marker', cursive;
        font-size: 5rem;
        animation: neon 7s ease-in-out infinite alternate;
    }

    #hero-image h2 {
        font-family: 'Permanent Marker', cursive;
        font-size: 3rem;
        animation: neon 7s ease-in-out infinite alternate-reverse;
    }


/*==========> PROJECTS <==========*/

#projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.project-card {
    position: relative;
    width: 250px;
    margin-bottom: 10px;
}

    .project-card img {
        display: block;
        width: 100%;
        height: auto;
    }

.picture-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: .6;
    transition: opacity .75s, width 1s, top 1s, height 1s;
    background-color: #0B5FC3;
    border-top: transparent;
    border-top-right-radius: 100%;
}


    .project-card:hover .picture-overlay {
        opacity: .25;
        width: 50%;
        top: 50%;
        height: 50%;
    }

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    transition: color .5s;
}


/*==========> LINKS <==========*/

#links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

    #links object {
        width: 200px;
        height: 200px;
        padding: 30px;
        box-shadow: 0px 5px 10px black;
    }

    #links a {
        position: relative;
        display: inline-block;
        transition: -webkit-transform .7s;
        transition: transform .7s;
        transition: transform .7s, -webkit-transform .7s;
    }

        #links a:hover {
            transform: rotateX(35deg);
        }

        #links a:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }




/*==============================> ABOUT PAGE <==============================*/



/*==========> HOME BUTTON <==========*/

header > a, header>a:visited, header>a:link, header>a:active {
    font-family: 'Permanent Marker', cursive;
    line-height: 3rem;
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    animation: neon 7s ease-in-out infinite alternate;
}


/*==========> CASE STUDIES <==========*/

.case-study {
    padding: 10px;
    margin: 50px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: white;
}

    .case-study img {
        position: relative;
        bottom: 50px;
        max-height: 300px;
        margin: 25px;
        border: 10px solid white;
        box-shadow: 0px 10px 20px black;
    }

    .case-study:nth-child(odd) {
        flex-wrap: wrap-reverse;
    }

.case-study-text {
        color: black;
    }

    .case-study-text ul {
        margin-left: 35px;
    }

