// Footer
footer
  .container
    ul.links
      li
        a(href='mailto:daytonrjohnson@gmail.com')
          i.far.fa-envelope
      li
        a(href='https://github.com/idifyable', target='_blank')
          i.fab.fa-github
      li
        a(href='http://codepen.io/idifyable/', target='_blank')
          i.fab.fa-codepen
      li
        a(href='https://twitter.com/idifyable', target='_blank')
          i.fab.fa-twitter
